h1{
    border: 2px solid blue;
    padding: 10px;
    margin: 30px 0px;
}

h2{
    border: 2px solid grey;
    padding: 5px;
    margin: 15px 0px;

}

ul{
    border: 2px solid greenyellow;
}

li{
    margin: 15px 0px;
}

body{
    padding: 0px 10px;
}